﻿@model List<test.Models.Albums>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-default" value="Get All Albums" onclick="location.href='@Url.Action("GetAllAlbums")'" />
    </div>
</div>

<div id="success" class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("GetAlbum", "Home"))
        {
            <input type="number" class="form-control col-md-1" name="id" />
            <input type="submit" class="btn btn-default" value="Get Current Album"/>
        }
    </div>
</div>
<div id="success" class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("GetUsersAlbums", "Home"))
        {
            <input type="number" class="form-control col-md-1" name="id" />
            <input type="submit" class="btn btn-default" value="Get Albums Current User" />
        }
    </div>
</div>

<table class="table">
    <tr><td>Number</td><td>User Id</td><td>Title</td>
    @foreach (var album in Model)
    {
        if (album != null)
        {
            <tr><td>@album.id</td><td>@album.userId</td><td>@album.title</td></tr>
        }
    }
</table>