﻿@model List<test.Models.User>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-default" value="Get All Users" onclick="location.href='@Url.Action("GetUsers")'" />
    </div>
</div>

<div id="success" class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @using (Html.BeginForm("GetUser", "Home"))
        {
            <input type="number" class="form-control col-md-1" name="id" />
            <input type="submit" class="btn btn-default" value="Get Current User"/>
        }
     </div>
</div>

<table class="table">
        <tr><td>Number</td><td>Name</td><td>Username</td><td>Address</td></tr>
        @foreach (var user in Model)
        {
            if (user != null)
            {
                <tr><td>@user.id</td><td>@user.name</td><td>@user.username</td><td>@user.address.city/@user.address.street</td></tr>
            }
        }
    </table>
